:root {
  --bg-color-primary: #364968;
  --bg-color-opposite: #FDDF97;
  --bg-color-secondary: #E09664;
  --bg-color-title: #FDDF97;
  --bg-color-input: white;
  --fg-color-text: #6C4343;
  --shadow-color: #dddddd;
}

html {
  /* background-image: -webkit-linear-gradient(65deg, var(--bg-color-secondary) 50%, #E4E9FD 50%); */
  background-image: linear-gradient(to bottom right, var(--bg-color-primary), var(--bg-color-opposite));
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: var(--bg-color-title);
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: var(--bg-color-input);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: var(--bg-color-primary);
  text-align: center;
}

.item {
  font-family: 'Patrick Hand', cursive;
  min-height: 3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bg-color-opposite);
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: var(--bg-color-primary);
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 200;
  color: var(--fg-color-text);
}

form.item {
  text-align: center;
  margin-left: 20px;
}

.add-button {
  min-height: 50px;
  width: 50px;
  border-radius: 10%;
  border-color: transparent;
  background-color: var(--bg-color-primary);
  color: var(--bg-color-input);
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 3rem;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  font-family: 'Patrick Hand', cursive;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 var(--bg-color-primary);
}
/* change .add-button behavior when input text gets focus */
input[type="text"]:focus + .add-button {
  border-radius:  10% 10% 0 0;
}

::placeholder {
  color: grey;
  opacity: 1;
}

.navbar {
  overflow: hidden;
  background-color: var(--bg-color-primary);
}
.navbar-item {
  float: left;
  font-size: 2rem;
  color: var(--bg-color-input);
  text-align: right;
  padding: 1rem;
  text-decoration: none;
}
.navbar-item:hover {
  color: var(--fg-color-text);
  background-color: var(--bg-color-secondary);
}
.navbar-item:hover + .dropdown {
  padding-bottom: -1px;
  border-bottom: solid 1px var(--bg-color-title);
}
.dropdown {
  float: right;
  overflow: hidden;
  font-size: 2rem;
}
.dropdown .dropdown-button {
  font-size: inherit;
  border: none;
  outline: none;
  color: var(--bg-color-input);
  padding: 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover {
  background-color: var(--bg-color-primary);
}
.dropdown-content {
  display: none;
  position: absolute;
  right: .5rem;
  min-width: 10rem;
  box-shadow: 0 .5rem 1rem 0 rbga(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: var(--bg-color-secondary);
}

footer {
  color: var(--bg-color-input);
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* 0 to 640
 641 to 1007
 1008 */
 @media screen and (min-width: 1007px) {
   html{
          /* background-image: purple; */
          background-image: linear-gradient(to bottom right, purple, pink); */
   }
   .item > p {
     font-size: 1.5rem;
   }
 }
 @media screen and (max-width: 640px) {
   html {

     background-image: linear-gradient(to bottom right, blue, green); */

   }
   .item > p {
     font-size: 2rem;
   }
 }
